/*
ethan (average-kirigiri-enjoyer)
SCS Boot Camp Module 4 Weekly Challenge - Code Quiz
Created 2023/07/29
Last Edited 2023/07/29
*/

/* defines variables for HTML colour codes */
:root
{
    --deep-purple: #582f92;
    --lavender: #a380e5;
    --light-lavender: #cfc3e5;
}

/* changes default font & text size */
body
{
    font-family: Raleway;
    font-size: 28px;
}

/* defines display settings for quiz title & question titles */
h1
{
    font-size: 180%;
    font-weight: 700;
}

/* ADD MEDIA QUERY TO ADJUST HEADER TEXT SIZE AT SMALL PAGE WIDTH HERE */

/* defines display settings for right / wrong messages */
h2
{
    padding-top: 10px;
    padding-left: 10px;
    border-top: solid 3px black;
    font-weight: 400;
    font-size: 140%;
    font-style: italic;
    display: none;
}

/* list items will be displayed with numbers in descending order*/
ol
{
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
}

/* child elements of header (view high scores & time) are displayed in-line with each other */
.header > *
{
    display: inline-block;
    padding: 20px;
}

#HSLink
{
    color: var(--deep-purple);
    text-decoration: underline;
    cursor: pointer;
}

#HSLink:hover
{
    color: var(--light-lavender);
    transition: 0.15s;
}

/* timer floats to the right */
#timer
{
    float: right;
}

/* defines display settings for current quiz content */
#quiz-content > *
{
    width: 70%;
    margin: 3% 15%;
}

/* ADD MEDIA QUERY TO ADJUST HORIZONTAL MARGINS AT SMALL PAGE WIDTH HERE */

/* defines margins for child elements of quiz section blocks */
.quiz-section-block > *
{
    margin: 10px;
}

/* aligns start menu content with the middle of the page */
#start-menu
{
    text-align: center;
}

/* defines default display settings for buttons */
button
{
    margin: 5px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: var(--deep-purple);
    cursor: pointer;
}

/* buttons change colour when hovered */
button:hover
{
  background-color: var(--lavender);
  transition: 0.15s;
}

/* defines alternate padding & width for start button */
#start-button
{
    padding: 10px 20px;
    width: auto;
}

.quiz-button
{
    padding: 10px 40px;
    width: 300px;
    text-align: left;
}

/* defines alternate padding & width for high score-related buttons */
.high-score-button
{
    padding: 3px 15px;
    width: auto;
}

/* displays enter certain high score-related elements in-line with each other */
.high-score-row
{
    display: inline-block;
}

/* hides question content structure initially */
#question-content
{
    display: none;
}

/* hides high score submission content initially */
#high-score-submission
{
    display: none;
}

/* slightly increases margin for all done message at end of quiz and high scores list header */
.high-score-header
{
    margin-bottom: 20px;
}

/* hides high score menu content initially */
#high-scores-display-box
{
    display: none;
}

/* defines display settings for high scores list */
#high-scores-display
{
    background-color: var(--light-lavender);
    padding: 10px 35px;
}

/* adds a bit of space between individual scores */
#high-scores-display li
{
    margin: 10px;
}